<template>
  <div id="app">
    <Menu></Menu>
    <CreateBook/>
    <router-view></router-view>
  </div>
</template>

<script>
import store from "./state";
import Menu from "./components/Menu";
import CreateBook from "@/components/CreateBook";


export default {
  components: {CreateBook, Menu },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  async mounted() {
    const token = localStorage.getItem("token");
    if (token) {
      store.commit("setToken", token);
      store.commit("setLoggedIn", true);
    }
    await this.$store.dispatch("getUser");
  },
};
</script>
