<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createBookDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Добавление книги</div>
    </template>

    <h5>Наименование книги</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="name" aria-describedby="name-help" placeholder="Наименование"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.Наименование" id="name-help" class="p-error">
              {{ this.$store.state.validation.Наименование }}
            </small>
    </span>
    <h5>Автор</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="author" aria-describedby="description-help" placeholder="Автор"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.Автор" id="description-help" class="p-error">
              {{ this.$store.state.validation.Автор }}
            </small>
    </span>
    <template #footer>
      <Button autofocus icon="pi pi-check" label="Добавить" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';

export default {
  name: "CreateBook",
  components: {Dialog, InputText, Button},
  data() {
    return {
      name: '',
      author: '',
      visible: false,
      modal: true,
    }
  },
  methods:
      {
        create() {
          this.$store.dispatch('createBook', {
            Наименование: this.name,
            Автор: this.author,
          });
        },

      }
}
</script>

<style scoped>

</style>