<template>
  <h1 class="p-text-center">Книги</h1>
  <div v-if="this.$store.state.dataPreLoading" style="text-align: center">
    <ProgressSpinner strokeWidth="4" style="width:50px;height:50px"/>
  </div>
  <div v-else>
    <ConfirmDialog></ConfirmDialog>
    <DataView :layout="layout" :value="books">
      <template #grid="slotProps">
        <div class="p-col-12 p-md-3" style="padding: .5em">
          <div class="product-grid-item card">
            <Card>
              <template #header/>
              <template #title>
                {{ slotProps.data.Наименование }}
              </template>
              <template #content>
                <!-- Ссылки на локальные изображения потому чт овременно не доступно S3 хранилище -->
                <div v-if="slotProps.data.id==1">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-5.userapi.com/impg/5X9DTkfvq3dnMjo_4s1q9V3LyHxZJ_YnROJbGg/U30wDymFEuE.jpg?size=284x430&quality=96&sign=4b146fedbfc873071ef4579e0370392f&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==2">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-70.userapi.com/impg/05pg1xCCnBFLZccxZkhiohnWV5oGXFdp8W9JlA/-uGIf6ARTwI.jpg?size=148x241&quality=96&sign=4ae00f39b184257e9f1f613b6455ee3f&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==3">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-42.userapi.com/impg/K5bb14d_b2zZiYnumG0A2_VEb83wIXHK2D8ebQ/HjGzfOP9bFE.jpg?size=300x420&quality=96&sign=7d9f18d1b9925c0c7c8db5ee7e8113c5&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==4">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-17.userapi.com/impg/NedDb_eX1nZzcLn-OdlDORsSKBRyFRJKAvdWlg/VArFdmOY7Yg.jpg?size=516x734&quality=96&sign=6d9aa48d8c3de91f78c4d984b3e0bf3f&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==5">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-48.userapi.com/impg/MnEdJcLzR7FhQwlKQFVv03OoBvfAX7KzKNaLtg/ethUu-LiCoU.jpg?size=522x742&quality=96&sign=c3d4b3a44bb16e8069dfc7f8ec47eaeb&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==6">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-50.userapi.com/impg/Qv0IuzC75attawrwtYLFYuJpyrLK06ZY48GZjA/MDI5tt1Zkxk.jpg?size=528x747&quality=96&sign=7bbce4dc9dff267baa4d0ce6f1a34a91&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==7">
                  <img :alt="slotProps.data.Наименование" src="https://sun3-13.userapi.com/impg/fLWBhHB11IqqIXjAcM9BvDb-wbzkvV_7jywAlg/VMCdvQ_QKqw.jpg?size=528x744&quality=96&sign=9aaa5450674a531673d7292de11e4298&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==8">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-26.userapi.com/impg/TzPAcmmkZrdlthsuMvjrgjxzsQEA22D4DKw29g/KGriwiVtHIg.jpg?size=533x746&quality=96&sign=db9dd7ef41785714040f13245ec3cba5&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==9">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-28.userapi.com/impg/PEyAXU3zXlhGdhcjqlhnhEZGxNFf7UOGUnis1g/uWatGdxIx8w.jpg?size=653x745&quality=96&sign=40ba204e3d60a9ea32eee99cf287fa24&type=album" class="bookImage"/>
                </div>
                <div v-else-if="slotProps.data.id==10">
                  <img :alt="slotProps.data.Наименование" src="https://sun9-60.userapi.com/impg/VvNoie8Ve9wYy-hV4rkRaGSRWFGIRYpcZkeDfA/j1jM9wVVIlE.jpg?size=256x401&quality=96&sign=0be2b526d10ec90f661aa7d33c7ef2ca&type=album" class="bookImage"/>
                </div>
                <div v-else>
                  <img :alt="slotProps.data.Наименование" src="https://cdn.pixabay.com/photo/2017/02/13/01/26/the-question-mark-2061539_1280.png" class="bookImage"/>
                </div>
                <div class="mt-4">
                  Автор: {{ slotProps.data.Автор }}
                </div>
              </template>
              <template #footer>

                <Button v-tooltip.bottom="'Удалить книгу'" class="p-button-danger p-button-rounded" icon="pi pi-trash"
                        @click="deleteBook(slotProps.data.id)"/>
                <Button v-tooltip.bottom="'Редактировать книгу'" class="p-button-primary p-button-rounded"
                        icon="pi pi-cog"
                        style="margin-left: .5em"/>

              </template>
            </Card>

          </div>
        </div>
      </template>
    </DataView>
  </div>
  <Paginator v-model:rows="rows" :rowsPerPageOptions=[2,5,10,50]
             :totalRecords="total" @page="onPage($event)">
  </Paginator>

</template>
<script>

import '../state.js'
import router from "../router";
import Paginator from 'primevue/paginator';
import DataView from 'primevue/dataview';
import ProgressSpinner from 'primevue/progressspinner';
import ConfirmDialog from 'primevue/confirmdialog';
import Button from "primevue/button";
import Card from 'primevue/card';

export default {
  name: "MainComponent",
  components: {Paginator, DataView, ProgressSpinner, ConfirmDialog, Button, Card},
  data() {
    return {
      rows: 5,
      layout: 'grid'
    }
  },
  methods: {
    onPage(event) {
      this.$store.state.pager.perPage = event.rows;
      this.$store.commit("setPage", event.page + 1);
      console.log(event.page);
      this.$store.dispatch('getBooks');
    },
    deleteBook(id) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить книгу (данное действие необратимо)?',
        header: 'Удаление книги',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          this.$store.dispatch('deleteBook', {id})
        },
        reject: () => {
          //callback to execute when user rejects the action
        }
      });
    },
  },
  computed: {
    books: function () {
      return this.$store.state.books;
    },

    total:
        function () {
          return this.$store.state.pager.total;
        }

  },

  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch('getBooks');
    } else router.push('/');
  },

}
</script>

<style>
.bookImage {
  display: block;
  max-width:180px;
  max-height:180px;
  width: auto;
  height: auto;
}
.p-card .p-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  width: 15rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}
</style>